p {
    font-family: Arial;
    line-height: 1.5;
    text-align: center;
    text-decoration: underline;
    font-family: 'Indie Flower', cursive;
}

h1 {
    font-family: Georgia;
    font-size: 200px;
    text-align: right;
    font-family: 'Raleway', sans-serif;
}

span {
    font-size: 2em;
}