<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" integrity="sha512-dEiw9Y+mvqQrQC3EwAKP4Bc9LGyola/4tCIRCq7c7VytHO9HUVW7+CmXCirQvLhx4EwqSbUulm6FlG1wHO/SSg==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <title>Blog App</title>
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="comment icon"></i>Blog Site</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
        </div>
    </div>